adf-pipelines/pipeline/GithubDataTransformPipeline.json
{
	"name": "GithubDataTransformPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyGithubProjectData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetGitHubToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n\"query\": \"query { user(login: \\\"YunchuWang\\\") { projectsV2(first: 20) { nodes { id __typename title items(first: 20) { nodes { __typename id content { ...on Issue { __typename title repository { id name description } state publishedAt projectsV2(first: 1) { nodes { id title number } } labels(first: 10) { nodes { id name } } milestone { id title } assignees(first: 10) { nodes { login } } } } } } } } } }\"}",
						"additionalHeaders": {
							"Authorization": {
								"value": "@activity('GetGitHubToken').output.value",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GitHubProjectDataRaw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GitHubProjectDataBlob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetGitHubToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://billvault.vault.azure.net/secrets/GitHubToken/63857cfd9b4d448688c2767778b15230?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "FormatJsonFile",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "CopyGithubProjectData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "http_trigger",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "FormatJsonFile",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "TransformToGithubIssues",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "FormatJsonFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformToGithubIssues",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 16,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateSearchIndex",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSearchKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"api-key": {
							"value": "@activity('GetSearchKey').output.value",
							"type": "Expression"
						}
					},
					"url": "https://wangbill-ai-search-test1.search.windows.net/indexers/indexer1722236921375/run?api-version=2023-11-01"
				}
			},
			{
				"name": "GetSearchKey",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TransformToGithubIssues",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://billvault.vault.azure.net/secrets/SearchKey/9eb21dc648d44e76abbce2879298777c?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}